@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

:root {
  --main: #eb5e28;
  --dark: #252422;
  --darker: #100f0f;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--darker);
}

i.fi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  margin: 50px auto;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--dark);
  border-radius: 100px;
}

ul.menu {
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 600;
}

ul.menu>li {
  position: relative;
}

ul.menu li a {
  padding: 10px 15px;
  min-width: 130px;
  display: flex;
  align-items: center;
  color: var(--main);
  border-radius: 50px;
  font-size: 20px;
  position: relative;
  z-index: 999;
}

ul.menu li a:hover {
  background: var(--main);
  color: #fff;
}

ul.menu li a:hover+ul.sub_menu {
  opacity: 1;
  visibility: visible;
  transition: .7s;
}

/* Sub Menu */
.sub_menu_bg {
  margin: auto;
  padding: 10px;
  min-width: 200px;
  height: 0;
  position: absolute;
  top: 55%;
  left: 0;
  background: var(--dark);
  border-radius: 0 0 30px 30px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  overflow: hidden;
}

.sub_menu_bg:before {
  content: "";
  width: 100%;
  height: 50px;
  background: var(--dark);
  position: absolute;
  top: 28px;
  left: 0;
  border: 4px solid transparent;
  border-top: 4px solid var(--main);
  z-index: 99;
  box-sizing: border-box;
}

.sub_menu_bg:after {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--main);
  position: absolute;
  top: 23.2px;
  left: 35.3%;
  border-radius: 2px 0 0 0;
  transform: rotate(45deg);
}

.sub_menu_bg.active {
  opacity: 1;
  visibility: visible;
}

ul.sub_menu {
  margin: auto;
  padding: 23px 10px 10px;
  min-width: 200px;
  width: 200px;
  position: absolute;
  top: 100%;
  left: -10px;
  border-radius: 0 0 30px 30px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}

ul.sub_menu:hover {
  opacity: 1;
  transition: .5s;
  visibility: visible;
}

.search>.btn {
  margin: 0 7px 0 20px;
  padding: 0 15px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  background: var(--main);
  transition: .2s;
  gap: 5px;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
}

.search>.btn span.data {
  opacity: 0;
  visibility: hidden;
}

.search>.btn:hover {
  width: 125px;
}

.search>.btn:hover span.data {
  opacity: 1;
  visibility: visible;
}